section#navbar(ng-include='"components/navbar/navbar.html"')

header.welcome
  .row
    .small-12.columns
      .small-8.columns.small-offset-2
        h1 Keep your team up to date
          br
          | and yourself in the loop.
        p.lead IC Doo makes it easy for you to broadcast, and track
          br
          | your status updates without reloading the page.
          br
          | Getting started only takes a few minutes.

        p
          br
          a.button.large.radius(href='/signup') Create a free account

section.content
  .row
    .small-12.columns
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

      form.thing-form
        label Syncs in realtime across clients
        p.input-group
          input.form-control(type='text', placeholder='Name', ng-model='thing.name')
          input.form-control(type='text', placeholder='Info', ng-model='thing.info')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

footer.footer
  .row
    div.small-12.columns
      p
        a(href='https://twitter.com/lidolee') @lidolee
        = ' | '
        a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues