// foundation overwrites

.f-dropdown.drop-none:before,
.f-dropdown.drop-none:after {
  display: none !important;
}

.f-dropdown {
  border: 1px solid #ccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  @include vendor-prefix('border-bottom-left-radius', '2px');
  @include vendor-prefix('border-bottom-right-radius', '2px');
  @include vendor-prefix('box-shadow', '0 3px 6px rgba(0,0,0,0.2)');
}

@media screen {
  html {
    font-size: 62.5%;
  }

  body {
    font-size: 100%;
  }

  #navbar {
    background-color: $ic-darkgray;
    position: relative;
    height: 56px;
    border-bottom: 1px solid rgba(#fff,.05);
  }

  .ic-logo {
    background-image: url('../../../assets/images/icdoo-logo.svg');
    background-repeat: no-repeat;
    background-position: 0 11px;
    background-size: 70px;
    position: absolute;
    left: 14px;
    top: 0;
    display: block;
    width: 70px;
    height: 55px;
  }

  .dark {
    background-color: $ic-darkgreen-80;
  }

  .navbar {
    margin: 0;
  }

  .navbar-right,
  .navbar-left {
    display: block;

    > li {
      list-style-type: none;
      float: left;
      display: block;

      &.active {
        a {
          color: #fff;
        }
      }

      > a {
        float: left;
        display: inline-block;
        padding: 17px 15px;
        color: rgba(255,255,255,.5);
        position: relative;
        @include vendor-prefix('transition','all .2s ease-in');

        &:hover {
          color: rgba(255,255,255,1);
          @include vendor-prefix('transition','all .2s ease-out');
        }

        i {
          line-height: 100%;
          margin-left: 10px;
          top: 2px;
          position: relative;
        }
      }
    }
  }

  .navbar-left {
    float: left;
    margin-left: 120px;
  }

  .navbar-right {
    float: right;
  }

  header {

    h1 {
      font-family: Lato, sans-serif;
      color: white;
      font-size: rem-calc(48);
      font-weight: 700;
      text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    }

    &.headline {
      padding: 30px 0;
      background-color: $ic-headline-bg;
    }

    &.welcome {
      background-image: url('../../../assets/images/header-bg-iphone.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      padding: 100px 0;

      .lead {
        font-size: 14px;
        color: #eee;
        margin: 20px 0;
      }

    }
  }


  .footer {
    background-color: $ic-brightgray;
  }
}

