
@media screen {
  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1rem;
  }


  #navbar {
    background-color: $ic-darkgreen;
    position: relative;
    height: 50px;
  }

  .ic-logo {
    background-image: url('../../../assets/images/icdoo-logo.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 70px;
    position: absolute;
    left: 0;
    top: 11px;
    display: block;
    width: 70px;
    height: 23px;
  }

  .dark {
    background-color: $ic-darkgreen-80;
  }

  .navbar {
    margin: 0;

    &.navbar-right,
    &.navbar-left {
      display: block;

      li {
        list-style-type: none;
        float: left;
        display: block;

        a {
          float: left;
          display: inline-block;
          padding: 14px 15px;
          color: rgba(255,255,255,.5);
          @include vendor-prefix('transition','all .2s ease-in');

        &:hover {
          color: rgba(255,255,255,1);
            @include vendor-prefix('transition','all .2s ease-out');
          }
        }
      }
    }

    &.navbar-left {
      float: left;
      margin-left: 120px;
    }

    &.navbar-right {
      float: right;
    }
  }

  .welcome {
    background-image: url('../../../assets/images/bg-charts.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 130px 0;

    h1 {
      font-family: Lato, sans-serif;
      color: white;
      font-size: rem-calc(48);
      font-weight: 700;
      text-shadow: 0 2px 5px rgba(0,0,0,.5);
    }

    .lead {
      font-size: 14px;
      color: #eee;
      margin: 20px 0;
    }

  }


  .footer {
    background-color: $ic-brightgray;
  }
}

