
$fa-font-path: "/bower_components/font-awesome/fonts";

// ic colors ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$ic-darkgreen:                                                          #15444c;
$ic-brightgreen:                                                        #bbcc33;
